<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatChat</title>
    <link rel="icon" href="/img/cat.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/post.css">
    <link rel="stylesheet" href="/static/css/comment.css">
</head>

<body>
    <div class="sidebar">
        <div class="top"></div>
        <div class="logo">
            <i class="bx bxs-cat"></i>
            <span>catchat</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>
        <div class="user"> </div>
        <ul>
            <li>
                <a href="/">
                    <i class="bx bxs-home-heart"></i>
                    <span class="nav-item">home</span>
                </a>
                <span class="tooltip">home</span>
            </li>
            <li>
                <a href="/category">
                    <i class="bx bxs-category-alt"></i>
                    <span class="nav-item">category</span>
                </a>
                <span class="tooltip">category</span>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <div class="container">
            <h1><i class="bx bxs-cat"></i> CatChat!</h1>
            {{if eq .CurrentUser.Gender "male"}}
            <div class="dropdown">
                <h5>{{.CurrentUser.Username}} <img id="pfp" class="profile-pic" src="img/male.webp" alt="male pfp"></h5>
                <i class="bx bx-chevron-down"></i>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            {{else if eq .CurrentUser.Gender "female"}}
            <div class="dropdown">
                <h5>{{.CurrentUser.Username}} <img id="pfp" class="profile-pic" src="img/female.png" alt="female pfp">
                </h5>
                <i class="bx bx-chevron-down"></i>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            {{else}}
            <h5>Interested? <a href="login" id="register">Login!</a></h5>
            {{end}}
        </div>
        <div class="postsContiner">
            {{if .Post}}
            <ul>
                <div class="post">
                    <div class="postUser">
                        {{if eq .Post.Gender "male"}}
                        <div class="profile-info">
                            <img id="pfp" class="profile-pic" src="img/male.webp" alt="male pfp">
                            <p class="username">{{.Post.Username}}</p>
                        </div>
                        {{else if eq .Post.Gender "female"}}
                        <div class="profile-info">
                            <img id="pfp" class="profile-pic" src="img/female.png" alt="female pfp">
                            <p class="username">{{.Post.Username}}</p>
                        </div>
                        {{end}}
                    </div>
                    <div class="postTitle">
                        <h3><strong>{{.Post.Title}}</strong></h3>
                    </div>
                    <div class="categoryContainer">
                        {{range .Post.Category}}
                        <div class="category">
                            <h7>{{.}}</h7>
                        </div>
                        {{end}}
                    </div>
                    <p class="content">{{.Post.Content}}</p>
                    <p class="postTime">{{.Post.CreatedAt}}</p>
                    <div class="postFooter">
                        <div class="actions">
                            {{if eq $.CurrentUser.Username "guest"}}
                            <form action="/login" method="post">
                                <button type="submit" id="like" class="like-button"><i class='bx bx-like'></i></button>
                            </form>
                            <span>{{.Post.Like}}</span>

                            <form action="/login" method="post">
                                <button type="submit" id="dislike" class="like-button"><i
                                        class='bx bx-dislike'></i></button>
                            </form>
                            <span>{{.Post.Dislike}}</span>

                            {{else}}

                            <form id="like-form-{{.Post.ID}}" method="post" style="display:inline;">
                                <input type="hidden" name="postID" value="{{.Post.ID}}">
                                <button type="button" id="like-{{.Post.ID}}" class="like-button"
                                    onclick="likePost('{{.Post.ID}}')">
                                    {{ if .Post.Likedbyuser }}
                                    <i class='bx bxs-like'></i>
                                    {{ else }}
                                    <i class='bx bx-like'></i>
                                    {{end}}
                                </button>
                            </form>
                            <span id="like-count-{{.Post.ID}}">{{.Post.Like}}</span>

                            <form id="dislike-form-{{.Post.ID}}" method="post" style="display:inline;">
                                <input type="hidden" name="postID" value="{{.Post.ID}}">
                                <button type="button" id="dislike-{{.Post.ID}}" class="like-button"
                                    onclick="dislikePost('{{.Post.ID}}')">
                                    {{ if .Post.Dislikedbyuser }}
                                    <i class='bx bxs-dislike'></i>
                                    {{ else }}
                                    <i class='bx bx-dislike'></i>
                                    {{end}}
                                </button>
                            </form>
                            <span id="dislike-count-{{.Post.ID}}">{{.Post.Dislike}}</span>

                            {{end}}
                        </div>
                    </div>
                </div>
            </ul>
        </div>
        <p>Comments</p>
        <style>
            .commentContainer {
                background-color: #22333B;
                border-radius: 12px;
                padding: 20px;
                margin-top: 20px;
            }

            #toggleCommentBox {
                color: #ffffff;
                font-size: 24px;
                cursor: pointer;
                margin-bottom: 10px;
            }

            #commentForm {
                display: none;
                margin-top: 10px;
            }

            #comment {
                width: 100%;
                padding: 12px;
                background-color: #f1f1f1;
                border: 1px solid #ccc;
                border-radius: 8px;
                resize: vertical;
                font-size: 14px;
            }

            #commentButton {
                background-color: #1a262f;
                color: #ffffff;
                border: none;
                padding: 10px 20px;
                border-radius: 8px;
                cursor: pointer;
                margin-top: 10px;
            }

            #commentButton:hover {
                background-color: #2a3643;
            }
        </style>

        <div class="commentContainer">
            <i id="toggleCommentBox" class='bx bxs-message-square-add'></i>
            <form id="commentForm" action="/createcomment" method="post">
                <input type="hidden" name="postID" value="{{.Post.ID}}">
                <input type="hidden" name="currentUsername" value="{{$.CurrentUser.Username}}">
                <textarea id="comment" name="comment" rows="4" placeholder="Say what's on your mind!"
                    required></textarea>
                <button type="submit" id="commentButton">Comment!</button>
            </form>
        </div>

        <div class="postsContiner">
            {{if .Comments}}
            <ul>
                {{range .Comments}}
                <div class="post">
                    <div class="postUser">
                        {{if eq .Gender "male"}}
                        <div class="profile-info">
                            <img id="pfp" class="profile-pic" src="img/male.webp" alt="male pfp">
                            <p class="username">{{.Username}}</p>
                        </div>
                        {{else if eq .Gender "female"}}
                        <div class="profile-info">
                            <img id="pfp" class="profile-pic" src="img/female.png" alt="female pfp">
                            <p class="username">{{.Username}}</p>
                        </div>
                        {{end}}
                    </div>
                    <p class="content">{{.Content}}</p>
                    <p class="postTime">{{.CreatedAt}}</p>
                    <div class="postFooter">
                        <div class="actions">
                            {{if eq $.CurrentUser.Username "guest"}}
                            <form action="/login" method="post">
                                <button type="submit" id="like" class="like-button"><i class='bx bx-like'></i></button>
                            </form>
                            <span>{{.Like}}</span>
                            <form action="/login" method="post">
                                <button type="submit" id="dislike" class="like-button"><i
                                        class='bx bx-dislike'></i></button>
                            </form>
                            <span>{{.Dislike}}</span>
                            {{else}}
                            <form id="clike-form-{{.CommentID}}" method="post" style="display:inline;">
                                <input type="hidden" name="CommentID" value="{{.CommentID}}">
                                <button type="button" id="clike-{{.CommentID}}" class="like-button"
                                    onclick="likeComment('{{.CommentID}}')">
                                    {{ if .Likedbyuser }}
                                    <i class='bx bxs-like'></i>
                                    {{ else }}
                                    <i class='bx bx-like'></i>
                                    {{end}}
                                </button>
                            </form>
                            <span id="clike-count-{{.CommentID}}">{{.Like}}</span>

                            <form id="cdislike-form-{{.CommentID}}" method="post" style="display:inline;">
                                <input type="hidden" name="CommentID" value="{{.CommentID}}">
                                <button type="button" id="cdislike-{{.CommentID}}" class="like-button"
                                    onclick="dislikeComment('{{.CommentID}}')">
                                    {{ if .Dislikedbyuser }}
                                    <i class='bx bxs-dislike'></i>
                                    {{ else }}
                                    <i class='bx bx-dislike'></i>
                                    {{end}}
                                </button>
                            </form>
                            <span id="cdislike-count-{{.CommentID}}">{{.Dislike}}</span>
                            {{end}}
                        </div>
                    </div>
                </div>
                {{end}}
            </ul>
            {{end}}
        </div>
        {{else}}
        <p> There are no posts found.. </p>
        {{end}}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('#toggleCommentBox').addEventListener('click', function () {
                const commentForm = document.getElementById('commentForm');
                commentForm.style.display = commentForm.style.display === 'none' || commentForm.style.display === '' ? 'block' : 'none';
            });
            document.getElementById('commentForm').addEventListener('submit', function (event) {
                const comment = document.getElementById('comment').value;
                if (comment.length < 5 || comment.length > 500) {
                    event.preventDefault();
                    alert('Comment must be between 5 and 500 characters long.');
                    return;
                }
                if (!comment.trim().length) {
                    event.preventDefault();
                    alert('Comment cannot be empty or just spaces.');
                    return;
                }
            });
        });

    </script>
    <!-- will add the other scripts later  -->
    <script src="/static/javascript/likes.js"></script>
    <script src="/static/javascript/sidebar.js"></script>
</body>

</html>